<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>모두의 타바타</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>tabata_timer</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>13</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>루틴 설명에 참고 사진을 추가하기 위해 사진 라이브러리 접근이 필요합니다.</string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>NSPrivacyPolicyURL</key>
		<string>https://tabata-server.vercel.app/legal/privacy.html</string>
		<key>GADApplicationIdentifier</key>
		<string>ca-app-pub-5520596727761259~4709430997</string>
		<key>KAKAO_APP_KEY</key>
		<string>03b6a4ae680153f2ef7077cd02b70d90</string>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>kakaokompassauth</string>
			<string>kakaolink</string>
			<string>kakaotalk</string>
		</array>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLName</key>
				<string>AppleSignIn</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>signinwithapple</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleURLName</key>
				<string>GoogleSignIn</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.247485339323-unfr1bj5l530lqjl54bar7ccdsmu8v8h</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleURLName</key>
				<string>KakaoOpen</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>kakao03b6a4ae680153f2ef7077cd02b70d90</string>
				</array>
			</dict>
		</array>
	</dict>
</plist>
